<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>SmartGridz</title>
  <link th:href="@{/css/bootstrap-4.0.0.css}" rel="stylesheet">
  <script th:src="@{/js/main.js}"></script>
  <th:block th:insert="~{fragments/header :: head/script}"></th:block>
</head>
<body>
<div th:replace="fragments/header :: header">
  Static text
</div>
<br /><br /><br />
<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
    <div class="card">
      <div class="card-header">
          <h2 class="text-center">Registration</h2>
      </div>
      <div th:if="${param.success}">
          <div class="alert alert-info">
            You have successfully registered the new user!
          </div>
      </div>
      <div class="card-body">
          <form
            method="post"
            role="form"
            th:action="@{/users/register/save}"
            th:object="${user}"
          >
            <div class="form-group mb-3">
              <label class="form-label">Login</label>
              <input
                      class="form-control"
                      id="login"
                      name="login"
                      placeholder="Enter login"
                      th:field="*{login}"
                      type="text"
                      required
              />
              <p th:errors = "*{login}" class="text-danger"
              th:if="${#fields.hasErrors('login')}"></p>
            </div>

            <div class="form-group mb-3">
              <label class="form-label">User Name</label>
              <input
                      class="form-control"
                      id="userName"
                      name="userName"
                      placeholder="Enter user name"
                      th:field="*{userName}"
                      type="text"
                      required
              />
              <p th:errors = "*{userName}" class="text-danger"
                 th:if="${#fields.hasErrors('userName')}"></p>
            </div>

            <div class="form-group mb-3">
              <label class="form-label">Email</label>
              <input
                      class="form-control"
                      id="email"
                      name="email"
                      placeholder="Enter email address"
                      th:field="*{email}"
                      type="email"
                      required
              />
              <p th:errors = "*{email}" class="text-danger"
                 th:if="${#fields.hasErrors('email')}"></p>
            </div>

            <div class="form-group mb-3">
              <label class="form-label">Password</label>
              <input
                      class="form-control"
                      id="password"
                      name="password"
                      placeholder="Enter password"
                      th:field="*{password}"
                      type="password"
                      required
              />
              <p th:errors = "*{password}" class="text-danger"
                 th:if="${#fields.hasErrors('password')}"></p>
            </div>

            <div class="form-group mb-3">
              <label class="form-label">Role</label>
              <select th:field="*{role}">
                <option th:value="ADMINISTRATOR" th:text="Administrator"></option>
                <option th:value="OPERATOR" th:text="Operator"></option>
              </select>
            </div>

            <div class="form-group" style="text-align: center">
              <button class="btn btn-primary" type="submit">Register</button>
            </div>
          </form>
      </div>
    </div>
    </div>
  </div>
  <div th:replace="fragments/footer :: footer">
    Static text
  </div>
</div>
</body>
</html> 
