<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>SmartGridz - Files</title>
    <link th:href="@{/css/bootstrap-4.0.0.css}" rel="stylesheet">
    <script th:src="@{/js/main.js}"></script>
    <th:block th:insert="~{fragments/header :: head/script}"></th:block>
</head>
<body>
<div th:replace="fragments/header :: header">
    Static text
</div>
<div class="container">
    <div th:if="${param.delete_failure}">
        <div class="alert alert-danger">Failed to delete file.</div>
    </div>
    <div th:if="${param.delete_success}">
        <div class="alert alert-success">You have successfully deleted the file.</div>
    </div>
    <div class="row">
        <h1> Files </h1>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>Date</th>
                <th>File Name</th>
                <th>Path Name</th>
                <th>Size</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="file: ${files}" style="background-color:white">
                <td th:text="${file.createDate}"></td>
                <td th:text="${file.filename}"></td>
                <td th:text="${file.pathname}"></td>
                <td th:text="${file.sizeInBytes}"></td>
                <td>
                    <form method="post" th:action="@{/files/delete}">
                        <input type="hidden" id="id" name="id" th:value="${file.id}" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <div th:replace="fragments/footer :: footer">
        Static text
    </div>
</div>
</body>
</html>