<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>SmartGridz</title>
    <link th:href="@{/css/bootstrap-4.0.0.css}" rel="stylesheet">
    <script th:src="@{/js/main.js}"></script>
    <th:block th:insert="~{fragments/header :: head/script}"></th:block>
</head>
<body>
<div th:replace="fragments/header :: header">
  Static text
</div>
<br /><br /><br />
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header">
          <h2 class="text-center">Upload File</h2>
      </div>
      <div th:if="${param.success}">
          <div class="alert alert-info">
            You have successfully uploaded one or more files!
          </div>
      </div>
      <div th:if="${param.error}">
        <div class="alert alert-info">
          There was an error saving the file(s).  Check the logs for additional information.
        </div>
      </div>
      <div class="card-body">
          <form
            method="post"
            role="form"
            th:action="@{/files/add}"
            th:object="${file}"
            enctype="multipart/form-data"
          >
              <div class="form-group mb-3">
                  <label class="form-label">Case</label>
                  <input
                          class="form-control"
                          id="casename"
                          name="casename"
                          placeholder="Case Name"
                          th:field="*{casename}"
                          type="text"
                          autofocus
                  />
                  <p th:errors = "*{casename}" class="text-danger"
                     th:if="${#fields.hasErrors('casename')}"></p>
              </div>
              <div class="form-group mb-3">
                  <label class="form-label">Choose File</label>
                  <!-- accept may need to be updated based on the way this is used, base raw file + .csv -->
                  <input
                          class="form-control-file"
                          id="file"
                          name="file"
                          placeholder="filename to load/parse/save"
                          type="file"
                          required
                          autofocus
                          multiple
                  />
                  <pre id="file-content"></pre>

                  <p th:errors = "*{file}" class="text-danger"
                     th:if="${#fields.hasErrors('file')}"></p>
              </div>


              <div class="form-group mb-3">
                  <label class="form-label">Description</label>
                  <input
                          class="form-control"
                          id="description"
                          name="description"
                          placeholder="Description"
                          th:field="*{description}"
                          type="text"
                          autofocus
                  />

                  <p th:errors = "*{description}" class="text-danger"
                     th:if="${#fields.hasErrors('description')}"></p>
              </div>


              <div class="form-group" style="text-align: center">
                  <button class="btn btn-primary" type="submit">Save</button>
              </div>
          </form>
      </div>
    </div>
  </div>
  </div>
  <div th:replace="fragments/footer :: footer">
    Static text
  </div>
</div>
</body>
</html> 
