<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error Occurred</title>
</head>
<body background="/images/smartgridz_background.jpg" style="{background-repeat:no-repeat;background-size: cover;background-position: center center}">
<br/>
<br/>
<br/>
<img th:src="@{/images/electricalWorker.png}" alt="Error Occurred" style="padding-top:100px;display:block;margin-left:auto;margin-right:auto;width:270px;height:300px">
<h3 style="text-align:center">An error occurred!</h3>
<p style="text-align:center">Please <a href="/login">login</a> to continue.</p>
</body>
</html>