<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>SmartGridz</title>
    <link th:href="@{/css/bootstrap-4.0.0.css}" rel="stylesheet">
    <script th:src="@{/js/main.js}"></script>
    <th:block th:insert="~{fragments/header :: head/script}"></th:block>
</head>
<body>
<div th:replace="fragments/header :: header">
    Static text
</div>
<div class="container">
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="container-fluid">
        <h1 class="text-center"> SmartGridz Dashboard...stay tuned!!</h1>
    </div>
    <div th:replace="fragments/footer :: footer">
        Static text
    </div>
</div>
</body>
</html>