<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Email Configuration</title>
    <link th:href="@{/css/bootstrap-4.0.0.css}" rel="stylesheet">
    <script th:src="@{/js/main.js}"></script>
    <th:block th:insert="~{fragments/header :: head/script}"></th:block>
</head>
<body>
<div th:replace="fragments/header :: header">
  Static text
</div>
<br /><br /><br />
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header">
          <h2 class="text-center">Email Configuration</h2>
      </div>
      <div th:if="${param.success}">
          <div class="alert alert-info">
            You have successfully updated the email configuration!
          </div>
      </div>
      <div class="card-body">
          <form
            method="post"
            role="form"
            th:action="@{/config_email/save}"
            th:object="${email}"
          >
            <div class="form-group mb-3">
              <label class="form-label">Host Name</label>
              <input
                      class="form-control"
                      id="host"
                      name="host"
                      placeholder="Enter the host server address"
                      th:field="*{host}"
                      type="text"
                      required
              />
              <p th:errors = "*{host}" class="text-danger"
                 th:if="${#fields.hasErrors('host')}"></p>
            </div>

            <div class="form-group mb-3">
              <label class="form-label">Port</label>
              <input
                      class="form-control"
                      id="port"
                      name="port"
                      placeholder="Enter the host server port number"
                      th:field="*{port}"
                      type="text"
                      required
              />
              <p th:errors = "*{port}" class="text-danger"
                 th:if="${#fields.hasErrors('port')}"></p>
            </div>

            <div class="form-group mb-3">
              <label class="form-label">User Name</label>
              <input
                      class="form-control"
                      id="userName"
                      name="userName"
                      placeholder="Enter user name"
                      th:field="*{userName}"
                      type="text"
                      required
              />
              <p th:errors = "*{userName}" class="text-danger"
                 th:if="${#fields.hasErrors('userName')}"></p>
            </div>

            <div class="form-group mb-3">
              <label class="form-label">Password</label>
              <input
                      class="form-control"
                      id="password"
                      name="password"
                      placeholder="Enter password"
                      th:field="*{password}"
                      type="password"
                      required
              />
              <p th:errors = "*{password}" class="text-danger"
                 th:if="${#fields.hasErrors('password')}"></p>
            </div>

            <div class="form-group mb-3">
              <label class="form-label">SMTP Authorization</label>
              <select th:field="*{smtpAuth}">
                <option th:value="true" th:text="Enable"></option>
                <option th:value="false" th:text="Disable"></option>
              </select>
            </div>

            <div class="form-group mb-3">
              <label class="form-label">SMTP Start TLS</label>
              <select th:field="*{smtpStartTlsEnable}">
                <option th:value="true" th:text="Enable"></option>
                <option th:value="false" th:text="Disable"></option>
              </select>
            </div>

            <div class="form-group" style="text-align: center">
              <button class="btn btn-primary" type="submit">Update</button>
            </div>
          </form>
      </div>
    </div>
    </div>
  </div>
  <div th:replace="fragments/footer :: footer">
    Static text
  </div>
</div>
</body>
</html> 
